# Backend
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/feedants
CORS_ORIGIN=*
NODE_ENV=development

# Frontend (copy these to frontend/.env)
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:4000/api
EXPO_PUBLIC_COMPETITION_ID=66f000000000000000000001
EXPO_PUBLIC_DEMO_USER_ID=66f000000000000000000101
